*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-evenly;
    height: 250px;
}


.header-bg{
    width: 100vw;
    position: absolute;
    z-index: -1;
    max-width: 1900px;
}

.logo{
    width: 200px;
    height: 100px;
    margin-top: 40px;
}


.lista{
    list-style: none;
    display: flex;
    border-bottom: 0.5px solid white;
}

.li{
    font-size: 1.3rem;
    padding: 10px 30px 0 0 ;
    margin: 80px 0 0 20px ;
}

.li:hover{
    cursor: pointer;
}

.item{
    text-decoration: none;
    color: white;
}







.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h1-main{
    position: relative;
    /* top: -400px; */
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: white;
    width: 75%;
    max-width: 1300px;
    padding: 80px;
}

.formulario{
    background: #212121;
    color: white;
    position: relative;
    /* top: -250px; */
    width: 70vw;
    max-width: 1300px;
    margin-top: 50px;
    padding: 60px 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'titulo titulo check-in-label . check-out-label'
                        'titulo titulo check-in-input . check-out-input'
                        '. . adultos-label menores-label habitaciones-label'
                        '. . adultos-input menores-input habitaciones-input'
                        '. . email-label email-input email-input'
                        'boton-form boton-form cotizar cotizar cotizar'
                        '. . solicitud solicitud solicitud';
}


.h1-form{
    grid-area: titulo;
    text-align: center;
}

.boton-form{
    grid-area: boton-form;
    padding: 20px;
    background: #212121;
    color: white;
    border: 1px solid rgb(129, 129, 129);
}

.boton-form:hover{
    border: 1px solid white;
    cursor: pointer;
    scale: 1.05;
}

.check-in{
    grid-area: check-in-label;
}
#check-in{
    grid-area: check-in-input;
}

.check-out{
    grid-area: check-out-label;
    
}

#check-out{
    grid-area: check-out-input;
    
}

.adultos{
    grid-area: adultos-label;
    
}

#adultos{
    grid-area: adultos-input;
    
}

.menores{
    grid-area: menores-label;
    
}

#menores{
    grid-area: menores-input;
    
}

.habitaciones{
    grid-area: habitaciones-label;
    
}

#habitaciones{
    grid-area: habitaciones-input;
    
}

.email{
    grid-area: email-label;
}

#email{
    grid-area: email-input;
}

.cotizar{
    grid-area: cotizar;
    background: rgb(54, 117, 219);
    color: white;
    border: 1px solid rgb(129, 129, 129);
}

.cotizar:hover{
    border: 1px solid white;
    scale: 1.05;
}

.solicitud{
    grid-area: solicitud;
    display: flex;
    /* color: greenyellow; */
}



.contenido{
    display: flex;
    flex-direction: column;
    padding: 250px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 450px;
}

.footer-bg{
    width: 100vw;
    position: absolute;
    z-index: -1;
    max-width: 1900px;
}

.logo-footer{
    width: 300px;
    height: auto;
}

.social *{
    width: 50px;
    margin: 20px;
}


@media (max-width: 1400px) {
    header{
        height: auto;
    }
    .h1-main{
        margin-top: 60px;
        font-size: 1.5rem;
        width: 90%;
    }

    .formulario{
        margin-top: 0;
    }
}